<!DOCTYPE html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Audrey Peters Portfolio</title>
	<link href="../style.css" rel="stylesheet">
</head>

<body>

		<nav class="post">
			<img src="/uploads/ap_logo_reverse.png" class="logo">
			<a href="/">Portfolio</a>
			<a href="/#contact">Contact</a>
		</nav>
<main class="post">

<div class="container">
<!-- <h1>back alley</h1>
<h2>Magazine/Editorial Design</h2>
<p>I focused on the hidden arts within towns and cities. Back Alley
features amazing graffiti/street artists and locations. The content
was taken from spaces I have discovered, including downtown
Toronto and New York City.
Beginning with the idea and progressing towards a name which
had to be subtle and catchy, intriguing the viewer by what’s
beyond the cover, I wanted the spreads to be cohesive and yet
unique to display each artwork in a way that would match and
glorify the street art. Making the aesthetic of the magazine cater
to back alleys and hidden area’s of our streets.</p> -->
<h1>{{ page.title }}</h1>
{{ content }}


<!-- 	<img src="image/backalleycover.jpg">
	<img src="image/backalleycontents.jpg">
	<img src="image/backalleycontents.jpg">
	<img src="image/backalleycontents.jpg">
	<img src="image/backalleycontents.jpg">
	<img src="image/backalleycontents.jpg"> -->


</main>
</body>